# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R
4. SQL
5. Java

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Make a table of Data Science tools
- Introduce arithmetic expression examples
- Convert minutes to hours

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Apache Spark
5. Scala

| Data Science Tools |
| --------- |
| Jupyter Notebook |
| Spider |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python
- addition: 2+2=4
- subtraction: 5-3=2
- multiplication: 2*2=4
- division: 6/3=2
- exponentiation: 2**3=8

In [4]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Olha